test_autocomplete
test_basic
test_buffer
test_cmd
test_compile
test_complete
test_decor
test_describe
test_dired
test_keys
test_keyevent
test_keymap
test_lisp
test_localvars
test_marker
test_minibuf
test_perf
test_regex
test_region
test_shell
test_syntax
test_tty
test_undo
test_winmgr
test_word
test_yank
fuzz_dirlocals
fuzz_localvars
fuzz_regex
